<div class="container">
  <div class="form-group">
    <label for="usr">Introduce url:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="urlAlta">
  </div>
    <div class="form-group">
    <label for="usr">Introduce tematica:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="tematicaAlta">
  </div>
    <div class="form-group">
    <label for="usr">Introduce descripcion:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="descripcionAlta">
  </div>

  <button class="btn btn-info" (click)="alta()">Agregar</button>
</div>
<br><br>
<!-- <div class="container" >
    <b>URL: </b>{{libroAlta.url}}<br>
    <b>Tematica: </b>{{libroAlta.tematica}}<br>
    <b>Descripcion: </b> {{libroAlta.descripcion}}
</div> -->
