<div>
  <button (click)="getCatalogo()">Catálogo</button>
  <button (click)="getCompras()">Mis compras</button>

  <div>
    <label for="usuario">Usuario:</label>
    <input id="usuario" type="text" [(ngModel)]="usuario" />

    <label for="password">Contraseña:</label>
    <input id="password" type="password" [(ngModel)]="password" />

    <button (click)="autentificar()">Validar</button>
  </div>

  <!-- Mostrar catálogo -->
  <div>
    <h2>Catálogo de Libros</h2>
    <ul>
      <li *ngFor="let libro of libros">
        {{ libro.titulo }} - {{ libro.autor }}
      </li>
    </ul>
</div>

  <!-- Mostrar compras -->
  <div>
    <h2>Mis Compras</h2>
    <ul>
      <li *ngFor="let compra of compras">
        {{ compra.tituloLibro }} - {{ compra.fechaCompra }}
      </li>
    </ul>
  </div>
</div>
