<div class="container">
  <h1>Clientes </h1><br><br>
  <h3>Usuario:<input type="text" [(ngModel)]="usuario"></h3> <br>
  <h3>Contrasena:<input type="password" [(ngModel)]="password"> </h3><br>

  <button (click)="validar()">Validar</button>
  <button (click)="registrese()">Regístrese</button>
  <br>

  <div *ngIf="visible">
    Usuario:<input type="text" [(ngModel)]="usuario"> <br><br>
    Contrasena:<input type="text" [(ngModel)]="password"> <br><br>
    Email:<input type="text" [(ngModel)]="email"> <br><br>
    Teléfono:<input type="text" [(ngModel)]="telefono"> <br><br>
    <button (click)="registrar()">Registrar</button>
  </div>
</div>
